@charset "UTF-8";

body{
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    color: blue;
}
h1#principal{
    text-align: center;
    color: white;
    background-color: blue;
}
h2{
    color: brown;
}
.basico{
    background-color: blue;
}
.intermediario{
    background-color: black;
}
.avancado{
    background-color: aqua;
}